*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(11 4 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}


/* header */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(5 15 57);
}

nav ul{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

nav ul li{
    margin:0 23px;
    list-style: none;
}

nav ul li a{
   text-decoration: none;
   color: white;
   transition: color 0.15s, font-size 0.15s , color 0.15s;
   
}

nav ul li a:hover{
    color: rgb(123, 85, 205);
    font-size: 1.02rem;
 }


 nav ul li a:active{
    color: white;
    opacity: 0.6;
 }

.left{
    font-size: 1.5rem;
}


/* First Section */


.firstSection{
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin: 50px 0;
    
}

.firstSection > div{
    width: 30%;
}

.leftSection{
    /* background-color: red; */
    font-size: 2.7rem;
    font-weight: 600;
    margin: 100px 0;
}

.leftSection button{
    margin: 23px -1px;
}

.leftSection .btn{
    /* padding: 11px; */
    border-radius: 25px;
    color: white;
    background-color: #09152d;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
    height: 60px;
    width: 210px;
    transition: color 0.15s , background-color 0.15s;
    margin-right: 20px;
}

.leftSection .btn:hover{

    color: #09152d;
    background-color: rgb(224, 218, 218) ;
}   

.leftSection .btn:active{
    opacity: 0.8;
}

/* .rightSection{
    background-color: red;
} */

.rightSection img{
    width: 100%;
    /* box-shadow: 7px 3px 10px rgba(246, 245, 245, 0.1); */
}

.purple{
    color: rgb(194, 104, 194);
}

#element{
    color: rgb(194, 104, 194);
}


/* Second Section */

hr{
    border: 0;
    background-color: rgb(65 78 134);
    /* background-color: white; */
    height: 1.6px;
    margin: 40px 84px;
}

.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1{
    font-size: 1.7rem;
}

.text-gray{
    color: #ababab;
}

.secondSection .horizontal-line{
    width: 82vw;
    height: 2px;
    background: white;
    margin: 80px 0;
    display: flex;
}

.secondSection .vertical-line{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0px 281px;
}

.image-top{
    width: 140px;
    position: relative;
    top: -78px;
    left: -68px;
}

.vertical-title{
    position: relative;
    top: 43px;
    right: 121px;
    width: 15vw;
    font-size: 17px;
}


.vertical-desc{
    width: 18vw;
    position: relative;
    top: 53px;
    color: #ababab;
    font-size: 13px;
    /* text-align: center; */
    right: 155px;
}

/* Footer */

footer{
    background-color: rgb(5 15 57);
    /* height: 323px; */
}

.footer{
    display: flex;
    padding: 30px 40px;
    justify-content: space-evenly;
}

.footer ul{
    list-style: none;
    cursor: pointer;
}

.footer > div{
    width: 230px;
}

footer .footer-rights{
    text-align: center;
    color: #ababab;
    padding: 23px 0;
    font-size: 18px;
}

.footer-4 li img{
    width: 25px;
    cursor: pointer;
}
.footer-3 ul li a{
    text-decoration: none;
    color: white;
}
